.tabela-container {
	display: flex;
	align-items: flex-start;
	gap: 20px;
}

.kontener-filtry-boczne {
	width: 250px;
	background: var( --background ); 
	padding: 5px; 
	border-inline: 1px solid var( --text );
}
.kontener-grida { flex: 1; }

/* dla telefonów i tabletów */
div.status { display: none; }
.kontener-grida { grid-template-columns: auto auto auto auto auto; }
.uwiw { grid-row: span 4; }
.sala { grid-column: span 2; }
.kategoria { grid-column: span 2; }
.model { grid-column: span 4; }
.obudowa { grid-column: span 2; }
.data-zakupu { grid-column: span 2; }
.operacje4x { grid-column: span 4; }
.szeroki-div-grida { grid-column: span 5; }

@media only screen and ( max-width: 1599px ) { .kontener-filtry-boczne { display: none; } }
	
/* dla wszystkich */
.kontener-grida {
	display: grid;
	grid-gap: 1px;
	background-color: var( --background );
	padding: 1px;
	& > div{
		background-color: var( --background );
		padding: 5px;
		border: 1px solid var( --text );
		margin: -.5px;
	}
	.operacje{ padding: 0; }
}

/* dla komputerów */
@media only screen and (min-width: 1300px) {
	.kontener-grida {
		grid-template-columns: repeat( 11, auto );
		width: 1300px;
		margin:0 auto 0 auto;
	}
	.uwiw { grid-row: span 1; }
	.sala { grid-column: span 1; }
	.kategoria { grid-column: span 1; }
	.model { grid-column: span 1; }
	.obudowa { grid-column: span 1; }
	.data-zakupu { grid-column: span 1; }
	.szeroki-div-grida { grid-column: 1 / span 11; }
	.operacje4x { grid-column: span 4; }
	div.status { display: block; }
}

.button {
	--border-width: 1px;
	--padding: 2px;
	width: calc( 100% - 2 *var( --border-width ) - 2 *var( --padding ) ); height: calc( 100% - 2 *var( --border-width ) - 2 *var( --padding ) );
	padding: var( --padding );
	text-align: center;
	text-decoration: none;
	display: inline-block;
	cursor: pointer;
	border: var( --border-width ) solid var( --primary );
}

.filtr-button {
	display: block;
	outline-width: 2px;
	width: 100%;
	padding: 8px;
	margin: 2px 0;
	cursor: pointer;
	transition: background 0.3s;
	text-align: center;
	background: var( --background ); color: var( --text );
	border: 1px solid var( --text );
}
	
.filtr-button:hover {
	background: var( --background-down ); color: var( --text-down );
}